@import "tailwindcss";

/* Tema Light - Fichadas municipales */
:root {
  --background: #ffffff;
  --foreground: #4d4d4d;
  --muni-primary: #b6c544;
  
  /* Paleta Municipal */
  --color-primary: var(--muni-primary);
  --color-primary-content: #1a1a1a;
  --color-secondary: #fbd300;
  --color-secondary-content: #4d4d4d;
  --color-accent: #7bcbe2;
  --color-accent-content: #4d4d4d;
  --color-neutral: #076633;
  --color-neutral-content: #e6e6e6;
  --color-success: #4ade80;
  --color-warning: #fbbf24;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-neutral: var(--color-neutral);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  --color-info: var(--color-info);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}

/* Tema Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(14% 0.005 285.823);
    --foreground: #e6e6e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
